@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.left {
    height: 200px;
    width: 150px;
}

.left img {
    height: 500px;  
    width: 400px; 
    margin-left: 50px;
    margin-top: 120px;
    background: #000;
}

.right{
    height: 450px;
    width: 250px;
    margin-left: 480px;
    background: greenyellow;

}