@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(187, 219, 255, 0.692);
}

.left {
    height: 550px;
    width: 300px;
    background: #000;
    box-shadow: 2px 2px 2px 5px rgba(0,0,0,0.1);
}

img {
    /* background: green; */
    margin-top: 100px;
    height: 450px;  
    width: 300px; 
}

.right{
    height: 450px;
    width: 350px;
    background: #fff;
}

.right h1 {
    padding: 18px 12px 0 24px;
}

.right h2 {
    padding: 0 12px 0 24px;
    color: rgb(85, 85, 85);
}

.right h4 {
    padding: 0 12px 12px 24px;
    color: rgb(68, 206, 68);
}

.right p {
    width: 310px;
    padding: 0px 12px 0 24px ;
}

.color {
    padding: 12px;
}

.right label {
    padding: 4px ;

}