@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(187, 219, 255, 0.692);
}

.left {
    height: 550px;
    width: 300px;
    background: #000;
    box-shadow: 2px 2px 2px 5px rgba(0,0,0,0.1);
}

img {
    margin-top: 100px;
    height: 450px;  
    width: 300px; 
}


.image2 {
  position: relative;
  bottom: 560px;
  height: 450px;  
  width: 300px; 
  z-index: 1;
}


.right{
    height: 480px;
    width: 350px;
    background: #fff;
}

.right h1 {
    padding: 18px 12px 0 24px;
}

.right h2 {
    padding: 0 12px 0 24px;
    color: rgb(85, 85, 85);
}

.right h4 {
    padding: 0 12px 12px 24px;
    color: rgb(68, 206, 68);
}

.right p {
    width: 310px;
    padding: 0px 12px 0 24px ;
}

.size {
    padding: 18px 12px 0 24px;
}

input[type="radio"][name="size"] {
  margin-right: 2px;
}

.color input[type="radio"] {
  appearance: none;              /* remove default browser look */
  -webkit-appearance: none;      /* for Safari */
  -moz-appearance: none;         /* for Firefox */
  width: 20px;
  height: 20px;
  border-radius: 50%;            /* make it a circle */
  border: 2px solid #ccc;        /* border around circle */
  cursor: pointer;
  margin: 5px;
  outline: none;
  transition: 0.2s ease;
}

/* custom colors by value */
.color input[value="red"] {
  background: red;
}

.color input[value="blue"] {
  background: blue;
}

.color input[value="green"] {
  background: green;
}

.color {
    padding: 18px 12px 0 24px;
}

/* Highlight selected */
.color input[type="radio"]:checked {
  border-color: 0.1px solid #000;
  box-shadow: 0 0 0 2px white inset, 0 0 0 1px black;
}

.quantity {
    padding: 14px 12px 0 24px;
    margin-top: 10px;
}
  
.quantity input {
    border-radius: 15px;
    padding-left: 20px;
    font-size: 18px;
    background: rgba(128, 128, 128, 0.518);
    border: none;
    outline: none;
    width: 70px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 12px 0 24px;
    margin: 25px;
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background: rgb(86, 69, 243);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}




.right label {
    padding: 4px ;
}